<!DOCTYPE html>
<html>
<head>
    <title>Data Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover{
            background-color: #D6EEEE;
        }
    </style>
</head>
<body style="background-color: #93EEAA;"> 
    <h1>Kobey Brian  Game Characteristic </h1>
    <table>
        <thead>
            <tr>
                <th>vs</th>
                <th>game</th>
                <th>quarter</th>
                <th>time</th>
                <th>description</th>
                <th>basket</th>
            </tr>
        </thead>
        <tbody>
            {% for row in kobe %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
</body>
</html>
