<!DOCTYPE html>
<html>
    <head>
        <title>Group#6 Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <h2>Source of the data</h2>
        <p>Link to download: <a href="https://raw.githubusercontent.com/akmand/datasets/master/openintro/kobe.csv">Here!</a>
             </p>

        <h2>Definition of each variable</h2>
        <table>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Definition</th>
                </tr>
                <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }
                    th, td {
                        border: 1px solid black;
                        padding: 8px;
                        text-align: left; }
                    th     {
                        text-align: center;
                    }
                    
                </style>
                
            </thead>
            <tbody>
                <tr>
                    <td>vs</td>
                    <td>A categorical vector, ORL if the Los Angeles Lakers played against Orlando</td>
                </tr>
                <tr>
                    <td>game</td>
                    <td>A numerical vector, game in the 2009 NBA finals</td>
                </tr>
                
                <tr>
                    <td>quarter</td>
                    <td>A categorical vector, quarter in the game, OT stands for overtime</td>
                </tr>
                <tr>
                    <td>time</td>
                    <td>A character vector, time at which Kobe took a shot</td>
                </tr>
                <tr>
                    <td>description</td>
                    <td>A character vector, description of the shot</td>
                </tr>
                <tr>
                    <td>basket</td>
                    <td>A categorical vector, H if the shot was a hit, M if the shot was a miss</td>
                </tr>
            </tbody>
        </table>



    </body>
</html>
